<div class="img_wrapper">
  <div class="img_back">
    <img src="images/gschool_small.jpg">
  </div>
</div>
<div class="main">
  <div id="container">
    <div class="about">
      <p>
        Software developer in <span class="link">Denver, CO</span>.
      </p>

      <p>
        This personal site was built and deployed on a virtual
        private server <br>using
        <span class="link"><a href="https://www.ruby-lang.org/en/">Ruby</a></span>,
        <span class="link"><a href="http://www.sinatrarb.com/">Sinatra</a></span>,
        <span class="link"><a href="https://httpd.apache.org/">Apache</a></span>,
        <span class="link"><a href="https://www.phusionpassenger.com/">Phusion Passenger</a></span>,
        <span class="link"><a href="http://en.wikipedia.org/wiki/HTML">HTML</a></span>, and
        <span class="link"><a href="http://en.wikipedia.org/wiki/Cascading_Style_Sheets">CSS</a></span>.
      </p>

      <p>
        Currently a student at Galvanize's <span class="link"><a href="http://galvanize.it/school">gSchool</a></span> in Denver.

      </p>
    </div>
  </div>
</div>