<% content_for :main do %>
  <div class="form">
    <form method="post" action="/add_venue">
      <ul>
        <li>
          <label for="name">Name</label>
        </li>
        <li>
          <input type="text" name="name" class="field"/>
        </li>
        <br>
        <li>
          <label for="address">Address</label>
        </li>
        <li>
          <input type="text" name="address" class="field" id="address"/>
        </li>
        <br>
        <li>
          <label for="position">Position</label>
        </li>
        <li>
          <input type="text" name="position" class="field"/>
        </li>
        <br>
        <li>
          <label for="marker_name">Marker Name</label>
        </li>
        <li>
          <input type="text" name="marker_name" class="field"/>
        </li>
        <br>
        <li>
          <label for="icon">Background</label>
        </li>
        <li>
          <input type="text" name="background" class="field"/>
        </li>
        <br>
        <li>
          <label for="description">Description</label>
        </li>
        <li>
          <input type="text" name="description" class="field"
                 id="venues_desc"/>
        </li>
        <br>
        <li>
          <label for="size">Size</label>
        </li>
        <li>
          <select name="size" class="field">
            <option value="Warehouse/Art Space">Warehouse/Art Space</option>
            <option value="Bar">Bar</option>
            <option value="Small Venue">Small Venue</option>
            <option value="Mid-sized Venue">Mid-sized Venue</option>
            <option value="Large Venue/Auditorium">Large Venue/Auditorium</option>
          </select>
        </li>
        <br>
        <li>
          <label for="price">Price</label>
        </li>
        <li>
          <select name="filter" class="field">
            <option value="$">$</option>
            <option value="$$">$$</option>
            <option value="$$$">$$$</option>
          </select>
        </li>
        <br>
        <li>
          <label for="map">Map</label>
        </li>
        <li>
          <select name="map" class="field">
            <option value="map">map</option>
          </select>
        </li>
        <br>
      </ul>
      <button type="submit" class="button" id="reg_submit">Add Venue</button>
    </form>
  </div>
<% end %>