<% content_for :main do %>
  <div class="form" class="one_fourth">
    <form method="post" action="/add_venue">
      <ol>
        <li>
          <label for="name">Name</label>
        </li>
        <li>
          <input type="text" name="name" class="field"/>
        </li>
        <br>
        <li>
          <label for="address">Address</label>
        </li>
        <li>
          <input type="text" name="address" class="field" id="address"/>
        </li>
        <br>
        <li>
          <label for="position">Position</label>
        </li>
        <li>
          <input type="text" name="position" class="field"/>
        </li>
        <br>
        <li>
          <label for="marker_name">Marker Name</label>
        </li>
        <li>
          <input type="text" name="marker_name" class="field"/>
        </li>
        <br>
        <li>
          <label for="icon">Icon</label>
        </li>
        <li>
          <input type="text" name="icon" class="field"/>
        </li>
        <br>
        <li>
          <label for="size">Size</label>
        </li>
        <li>
          <select name="size" class="field">
            <option value="sml">< 100</option>
            <option value="med">100 - 500</option>
            <option value="lge">500 - 1000</option>
            <option value="lgr">1000 - 5000</option>
            <option value="lgt">5000+</option>
          </select>
        </li>
        <br>
        <li>
          <label for="description">Description</label>
        </li>
        <li>
          <input type="text" name="description" class="field"
                 id="venues_desc"/>
        </li>
        <br>
        <li>
          <label for="price">Price</label>
        </li>
        <li>
          <select name="price" class="field">
            <option value="$">$</option>
            <option value="$$">$$</option>
            <option value="$$$">$$$</option>
          </select>
        </li>
        <br>
        <li>
          <label for="map">Map</label>
        </li>
        <li>
          <select name="map" class="field">
            <option value="map">map</option>
          </select>
        </li>
        <br>
      </ol>
      <button type="submit" class="button" id="reg_submit">Add Venue</button>
    </form>
  </div>
<% end %>