<% content_for :main do %>

  <div id="map_container">
  </div>

<% end %>

<% content_for :loggedout do %>

  <form method="post" action="/">
    <input type="text" name="email" class="fields" id="email" placeholder="email"/>
    <table>
      <tbody>
      <tr>
        <td>
          <input type="password" name="password" class="fields" placeholder="password"/>
        </td>
        <td>
          <button type="submit" class="button">Sign In</button>
        </td>
      </tr>
      </tbody>
    </table>
    <div id="rem">
      <input type="checkbox" value="remem" class="vlad"/>
      Remember me
    </div>
    <div class="reg">
      Not a member?
      <a href="/register" type="submit" class="regbutton">Register</a>
    </div>
  </form>

<% end %>

<% content_for :loggedin do %>

  <p>Welcome, <%= cur_user %></p>
  <form method="get" action="/logout">
    <button type="submit" name="logout" class="logbutton">Logout</button>
  </form>

<% end %>