<% content_for :main do %>
  <div class="form">
    <form method="post" action="/users/<%= cur_user["id"] %>/pw">
      <ul>
        <li><label for="old_pw">Old Password: </label></li>
        <li><input type="password" name="old_pw" class="field"/></li>
        <br>
        <li><label for="new_pw">New Password: </label></li>
        <li><input type="password" name="new_pw" class="field"/></li>
        <br>
        <li><label for="new_conf">Confirm New Password: </label></li>
        <li><input type="password" name="new_conf" class="field"/></li>
        <br>
        <input type="submit" value="Submit" class="button"/>
        </ul>
    </form>

    <% if flash[:notice] %>
      <p><%= flash[:notice] %></p>
    <% end %>

  </div>

<% end %>

<% content_for :loggedin do %>

  <p>Welcome, <%= cur_user["first_name"] %></p>
  <form method="get" action="/logout">
    <button type="submit" name="logout" class="button">Logout</button>
  </form>

<% end %>
