<% content_for :main do %>

  <div id="reg_form" class="one_fourth">
    <form method="post" action="/register" class="regform">
      <ol>
        <li>
          <label for="first_name">First Name</label>
        </li>
        <li>
          <input type="text" name="first_name" class="field"/>
        </li>
        <br>
        <li>
          <label for="last_name">Last Name</label>
        </li>
        <li>
          <input type="text" name="last_name" class="field"/>
        </li>
        <br>
        <li>
          <label for="email">Email</label>
        </li>
        <li>
          <input type="email" name="email" class="field"/>
        </li>
        <br>
        <li>
          <label for="password">Password</label>
        </li>
        <li>
          <input type="password" name="password" class="field"/>
        </li>
        <br>
        <li>
          <label for="password">Confirm Password</label>
        </li>
        <li>
          <input type="password" name="pass_conf" class="field"/>
        </li>
        <br>
        <li>
          <label for="birthday">Birthday</label>
        </li>
        <li>
          <input type="date" name="birthdate" class="field"/>
        </li>
        <br>
      </ol>
      <button type="submit" class="button" id="reg_submit">Register</button>
    </form>
  </div>
<% end %>

<% content_for :loggedout do %>
  <div class="nav_left">
    <form method="post" action="/">
      <input type="text" name="email" class="field" id="email"
             <% if flash[:notice] %>
             placeholder="<%= flash[:notice] %>"
             <% else %>
             placeholder="email"
             <% end %>
             />

      <div id="bottom">
        <input type="password" name="password" class="field"
               id="password" placeholder="password"/>
        <button type="submit" class="button">Sign In</button>
      </div>
    </form>
  </div>
  <div class="nav_right">
    <div id="reg">
      Not a member?<a href="/register" id="reg_button"> Register</a>
    </div>
    <div id="rem">
      <input type="checkbox" value="remem" id="rem"/>
      <label for="rem">Remember me</label></div>
  </div>
<% end %>