<% content_for :main do %>
  <div class="form">
    <form method="post" action="/users" class="form">
      <ol>
        <li>
          <label for="first_name">First Name</label>
        </li>
        <li>
          <input type="text" name="first_name" class="field"/>
        </li>
        <br>
        <li>
          <label for="last_name">Last Name</label>
        </li>
        <li>
          <input type="text" name="last_name" class="field"/>
        </li>
        <br>
        <li>
          <label for="email">Email</label>
        </li>
        <li>
          <input type="email" name="email" class="field"/>
        </li>
        <br>
        <li>
          <label for="password">Password</label>
        </li>
        <li>
          <input type="password" name="password" class="field"/>
        </li>
        <br>
        <li>
          <label for="password">Confirm Password</label>
        </li>
        <li>
          <input type="password" name="password_confirmation" class="field"/>
        </li>
        <br>
        <li>
          <label for="birthday">Birthday</label>
        </li>
        <li>
          <input type="date" name="birthday" class="field"/>
        </li>
        <br>
      </ol>
      <button type="submit" class="button" id="reg_submit">Register</button>
    </form>
  </div>
<% end %>

