<% content_for :main do %>

  <div class="grid">
    <% venues.each do |venue| %>

      <a href="/venues/<%= venue.id %>">
        <div style="background-image: url(<%= venue["background"] %>)"
             class="thumb">
          <p class="ven_name"><%= venue.name %></p>
        </div>
      </a>
    <% end %>
  </div>
<% end %>

<% content_for :map do %>
  <a href="/venues/map">Map</a>
<% end %>