<% content_for :main do %>
  <div class="page_title">
    Venues
  </div>
  <div class="grid">
    <% venues.each do |venue| %>

      <a href="/venues/<%= venue["id"] %>">
        <img class="thumb" src="<%= venue["background"] %>">
      </a>

    <% end %>
  </div>

  <div class="clearfix"></div>
<% end %>