.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.wrapper {
    margin: auto;
    width: 980px;
    background-color: #1C3C5B;
}

article {
    position: relative;
    margin-left: 5px;
    float: left;
    box-sizing: border-box;

}

section {
    box-sizing: border-box;
    border-bottom: 1px solid #A3540B;
}

/* ----- =columns ----- */

.one_half {
    width: 460px;
}

.one_third {
    width: 300px;
}

.two_third {
    width: 620px;
}

.one_fourth {
    width: 220px;
}

.three_fourth {
    width: 700px;
}

.full_column {
    width: 940px;
}

* {
    font-family: Helvetica, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    background-image: url("images/back.jpg");
    background-attachment: fixed;
    color: #F29721;
}

li {
    list-style-type: none;
}

/* --- Nav --- */

#header {
    padding: 5px;
}

#logo_container {

    width: 88px;
    height: 88px;
    float: left;
    margin: 5px 10px 5px 0;
}

#title {
    color: #F0E66C;
    text-align: left;
    font-size: 60px;
    display: inline;
    margin-left: -20px;
}

#logo:hover {
    color: #A3540B;
}

#nav {
    margin: 0;
}

#nav ul {
    margin: 0;
    padding: 0;
}

#nav li {
    display: list-item;
    list-style-type: none;
    float: left;
    margin-left: 45px;
}

#nav li:hover {
    text-decoration: underline;
}

#right_nav {
    margin-top: 7px;
    border-radius: 5px;
}

.nav_left {
    display: inline-block;
    width: 220px;
    padding: 6px;
    text-align: right;
    float: right;
    margin-right: 0;
}

#filter {
    margin: 0 auto;
}

#email {
    width: 200px;
    display: block;

}

#password {
    width: 125px;
    display: inline;
}

.field {
    color: #1C3C5B;
    background-color: #2D628E;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    margin: 5px;
    padding: 3px;
    vertical-align: top;
}

.button {
    background-color: #1C3C5B;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    display: inline-block;
    padding: 4px;
    margin: 3px 10px 0 0;
}

.button:hover {
    background-color: #2D628E;
}

.nav_right {
    /*color: #F29721;*/
    font-size: 13px;
    border-radius: 5px;
    display: inline-block;
    float: right;
    padding: 4px;
    text-align: left;
    margin: 5px -30px 0 0;
}

#rem, #reg {
    margin: 8px;
}

#reg_button {
    color: #F0E66C;
    padding: 1px;
    text-align: center;
}

#reg_button:hover {
    text-decoration: underline;
}

#login_error {
    color: red;
}

#main {
    padding: 10px;
}

#main p {
    margin: 20px;
    text-align: center;
    font-size: 50px;
}

#map_container {
    width: 940px;
    height: 600px;
    border-radius: 5%;
    margin: 0 auto;
}

.info_window {
    width: 500px;
}

/* --- Reg Page --- */

.form {
    text-align: center;
    color: #A3540B;
    margin: 0 auto;
    padding: 30px;
}

.form ul {
    padding: 0;
    margin: 0;
}

.form button {
    margin: 0 auto;
}

.form .field {
    float: none;
}

/* --- Admin Page --- */

.table_list {
    margin: 0 auto;
}

.table_list th, td {
    padding: 10px;
    font-size: 15px;
}

.table_list thead {
    color: #A3540B;
}

.table_list tr {
    border-bottom: 1px solid #A3540B;
    border-right: 1px solid #A3540B;
    border-left: 1px solid #A3540B;
}

.sorter {
    border: none;
    background-color: inherit;
    margin: 0;
}

.sorter:hover {
    text-decoration: underline;
}

#delete {
    font-size: 10px;
}

/* --- Add Venue --- */

#address {
    width: 200px;
}

#venues_desc {
    width: 200px;
    height: 50px;
}

/* --- VENUE PAGE --- */

.icon {

}

#small_map {
    float: right;
    width: 495px;
    height: 400px;
    margin: -140px 40px 0 0;
    border-radius: 10px;
}

#venue_name {
    font-size: 40px;
    margin: 20px 0 0 20px;
    width: 400px;
    height: 150px;
    text-align: left;
    display: inline-block;

}

#venue_info {
    width: 400px;
    /*color: #F29721;*/
    float: left;
    margin: 0 auto;
    padding: 0;
}

#venue_info td {
    font-size: 20px;
    padding: 30px 0 0 20px;

}

#venue_desc {
    display: block;
}

/* --- Venues --- */

.page_title {
    margin: 0 auto;
    font-size: 40px;
    text-align: center;
}

.grid {
    width: 980px;
}

.thumb {
    line-height: 1.5em;
    float: left;
    display: inline;
    width: 200px;
    height: 200px;
    margin: 8px;
    border-radius: 40%;
    border: 5px solid #1C3C5B;
}

.thumb:hover {
    border: 5px solid #000;
}


