.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.wrapper {
    margin: auto;
    width: 980px;
}

* {
    font-family: Helvetica, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    background-image: url("images/back.jpg");
    /*background-color: #fff;*/
    color: #fff;
}

li {
    list-style-type: none;
}

#header {
    width: 980px;
    height: 120px;
    margin-top: 20px;
}

#title {
    font-size: 80px;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    border-bottom: 1px solid #fff;

}

.container {
    background-color: #fff;
    color: #5996FF;
    border-radius: 10px;
    float: right;
    width: 320px;
    padding: 10px;
    margin: 20px 0 50px 0;
    display: block;
}

#email {
    width: 310px;
    margin-bottom: 7px;
}

.fields {
    font-size: 20px;
    color: #717273;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 5px;

}

#rem {
    float: left;
}

table {
    margin-bottom: 10px;
}

.reg {
    float: right;
}

.regbutton {
    color: #4879CF;
}

#regform input {
    float: right;
    text-align: right;
}

.button {
    background-color: #4879CF;
    width: 80px;
    margin-left: 5px;
    float: right;
    padding: 5px;
    font-size: 20px;
    color: #fff;
    border: 1px solid grey;
    border-radius: 5px;
}

.button:hover {
    background-color: #5996FF;
    color: #fff;
}

.main_button {
    background-color: #fff;
    width: 80px;
    margin-left: 5px;
    float: right;
    padding: 5px;
    font-size: 20px;
    color: #5996FF;
    border: 1px solid grey;
    border-radius: 5px;
}

.main_button:hover {
    background-color: #5996FF;
    color: #fff;
}

input[type=checkbox] {
    font-size: 20px;
}

#nav {
    text-align: center;
    margin-bottom: 50px;
    margin-top: -10px;
}

#nav ul {
    margin: 0;
    padding: 0;
}

#nav li {
    display: list-item;
    list-style-type: none;
    float: left;
    font-size: 30px;
    margin-left: 70px;
    margin-top: 10px;
}

.main {
    border: 5px solid #000;
    border-radius: 10px;
}

#about {
    padding: 5px;
}

.img_back {
    width: 500px;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 5px;
    margin: auto;
}

img {
    width: 490px;
    border: 3px solid #fff;
    border-radius: 10px;
    margin: 2px;
}

.about {
    text-align: center;
    background-color: #000;
    margin: 10px;
    padding: 3px;
}

.link {
    padding: 0 3px 0 3px;
}

.link:hover {
    padding: 0 3px 0 3px;
    border-radius: 5px;
    background-color: #fff;
    color: #5996FF;
}

.content {
    margin-top: 70px;
}

#map_container {
    width: 980px;
    height: 600px;
    margin: auto;
    border-radius: 10px;
}

#users {
    margin: auto;
    width: 980px;
    height: 600px;
    background-color: #4879CF;
    border: 1px solid #fff;
    border-radius: 5px;
}

.form td {
    padding: 15px;
    border: 1px solid #fff;
}

.regform {
    margin: auto;
    width: 980px;
    height: 600px;
    background-color: #4879CF;
    border: 1px solid #fff;
    border-radius: 5px;
}

.regform td {
    /*border: 1px solid #fff;*/
    padding: 15px;

}

.regform table {
    margin: 50px 0 50px 300px;

}

.regform button {
    margin-left: 450px;
}