.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.wrapper {
    margin: auto;
    width: 980px;
    background-color: #1C3C5B;
}

article {
    position: relative;
    margin-left: 5px;
    float: left;
    box-sizing: border-box;

}

section {
    box-sizing: border-box;
    border-bottom: 3px solid #C6F1FF;
}

/* ----- =columns ----- */

.one_half {
    width: 460px;
}

.one_third {
    width: 300px;
}

.two_third {
    width: 620px;
}

.one_fourth {
    width: 220px;
}

.three_fourth {
    width: 700px;
}

.full_column {
    width: 940px;
}

* {
    font-family: Helvetica HelveticaNeue-Light, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    background-image: url("images/back.jpg");
    background-attachment: fixed;
    color: #F29721;
}

li {
    list-style-type: none;
}

/* --- Nav --- */

#header {
    padding: 10px;
}

#logo_container {

    width: 88px;
    height: 88px;
    float: left;
    margin: 5px 10px 5px 0;
}

#title {
    color: #F0E66C;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    /*text-align: left;*/
    font-size: 60px;
    display: inline-block;
    margin-left: -5px;
    border-bottom: 1px solid #C6F1FF;

}

#sub {
    float: right;
    margin: -12px 10px 0 0;
    background-color: #1C3C5B;
    width: 115px;
    text-align: center;
    padding: 2px;
    z-index: 1;
    position: relative;
}

#nav {
    margin: 0;
    padding-top: 12px;

}

#nav ul {
    margin: 0;
}

#nav li {
    display: list-item;
    list-style-type: none;
    float: left;
    margin-left: 5px;
    font-size: 15px;
    padding: 5px;
    /*color: #F29721;*/

}

#nav li:hover {
    background-color: #C6F1FF;
    color: #1C3C5B;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
}

#nav_ven {
    background-color: #C6F1FF;
    color: #1C3C5B;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
}

#right_nav {
    margin-top: 7px;
    border-radius: 5px;
}

.nav_left {
    display: inline-block;
    width: 220px;
    padding: 6px;
    text-align: right;
    float: right;
    margin-right: 0;
}

#filter {
    margin: 0 auto;
}

#email {
    width: 200px;
    display: block;

}

#password {
    width: 125px;
    display: inline;
}

.field {
    color: #F29721;
    background-color: #2D628E;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    margin: 5px;
    padding: 3px;
    vertical-align: top;
}

.button {
    background-color: #1C3C5B;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    display: inline-block;
    padding: 4px;
    margin: 3px 10px 0 0;
}

.button:hover {
    background-color: #2D628E;
}

.nav_right {
    /*color: #F29721;*/
    font-size: 14px;
    border-radius: 5px;
    display: inline-block;
    float: right;
    padding: 4px;
    text-align: left;
    margin: 5px -30px 0 0;
}

#rem, #reg {
    margin: 10px;
}

#reg_button {
    color: #F0E66C;
    padding: 1px;
    text-align: center;
}

#reg_button:hover {
    text-decoration: underline;
}

#admin {
    font-size: 15px;
}

#login_error {
    color: red;
}

#main {
    padding: 0 10px 10px 10px;
}

/*#main p {*/
    /*margin: 20px;*/
    /*text-align: center;*/
    /*font-size: 50px;*/
/*}*/

#map_container {
    width: 960px;
    height: 615px;
    border-radius: 5%;
    margin: 0;
}

/* --- Infowindow --- */

.info_window {
    width: 500px;
    color: #F29721;
    border-radius: 10px;
    background-color: #1C3C5B;
    padding: 20px;
}

.info_window img {
    width: 100px;
    margin: 10px;
}

/* --- Reg Page --- */

.form {
    text-align: center;
    color: #A3540B;
    margin: 0 auto;
    padding: 30px;
}

.form ul {
    padding: 0;
    margin: 0;
}

.form button {
    margin: 0 auto;
}

.form .field {
    float: none;
}

/* --- Admin Page --- */

.table_list {
    margin: 0 auto;
}

.table_list th, td {
    padding: 10px;
    font-size: 15px;
}

.table_list thead {
    color: #A3540B;
}

.table_list tr {
    border-bottom: 1px solid #A3540B;
    border-right: 1px solid #A3540B;
    border-left: 1px solid #A3540B;
}

.sorter {
    border: none;
    background-color: inherit;
    margin: 0;
}

.sorter:hover {
    text-decoration: underline;
}

#delete {
    font-size: 10px;
}

/* --- Add Venue --- */

#address {
    width: 200px;
}

#venues_desc {
    width: 200px;
    height: 50px;
}

/* --- VENUE PAGE --- */

.icon {

}

#small_map {
    width: 495px;
    height: 400px;
    margin: -140px 40px 0 0;
    border-radius: 10px;
    display: inline-block;
}

#venue_name {
    font-size: 40px;
    margin: 20px;
    width: 350px;
    height: 150px;
    float: right;
}

#venue_name img {
    margin: 0 auto;
}

#venue_info {
    width: 400px;
    margin: 0 auto;
    padding: 0;
    display: inline-block;
}

#venue_info td {
    font-size: 20px;
    padding: 30px 0 0 20px;

}

#venue_desc {
    display: block;
}

/* --- Venues --- */

.page_title {
    margin: 0 auto;
    font-size: 40px;
    text-align: center;
}

.grid {
    margin: 0 auto;
}

#grid_item {
    width: 25%;
    display: inline-block;
}

.thumb {
    /*line-height: 1.5em;*/
    width: 200px;
    height: 200px;
    margin: 15px;
    border: 5px solid #1C3C5B;
    border-radius: 40%;
    float: left;
}

.thumb:hover {
    border: 5px solid #000;
}

.ven_name {
    display: none;
}

a:hover .ven_name {
    display: block;
    text-align: center;
    color: #fff;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    font-size: 40px;
    margin: 0 auto;
    vertical-align: middle;
    line-height: 200px;
}



