<div class="col-xs-12 events-grid">
  <% events[0..40].each_with_index do |event, i| %>
    <div class="hex event<%= ' hex-gap' if i % 11 == 0 %>"
         style="background-image: url(<%= event.image %>);"
    >
      <div class="corner-1"></div>
      <div class="corner-2"></div>
    </div>
  <% end %>
</div>