<div class="col-xs-12 events-grid">
  <!--<% events.each_with_index do |event, i| %>-->
    <!--<div class="hex grid-event "-->
         <!--style="background-image: url(<%= event.image %>);"-->
    <!-->-->
      <!--<div class="corner-1"></div>-->
      <!--<div class="corner-2"></div>-->
      <!--<span><%= event.name %></span>-->
    <!--</div>-->
  <!--<% end %>-->
</div>
<div class="col-xs-12 events-more">
  <div id="events-wait">
    <%= fa_icon 'spinner', class: 'fa-pulse fa-5x' %>
  </div>
</div>