<div class="col-xs-12 grid-container">
  <div class="row">
    <div class="col-xs-12 events-grid">
    </div>
    <div class="col-xs-12 events-more">
      <div id="events-wait">
        <%= fa_icon 'spinner', class: 'fa-pulse fa-5x' %>
      </div>
    </div>
  </div>
</div>