<div class="col-xs-12 events-list">
  <div class="col-xs-12 months">
    <div class="row">
      <% next_12_months.each do |month| %>
        <div class="col-xs-2 col-sm-1">
          <%= link_to month[:name], '#', data: {month: "#{month[:index]}#{month[:year]}"}, class: 'month' %>
        </div>
      <% end %>
    </div>
  </div>
  <% next_months(12).each do |formatted, date| %>
    <div class="col-xs-12">
      <div class="date">
        <div class="date-header header <%= date_id(date) %>" data-date="<%= date %>" data-filled="false">
          <%= formatted %>
        </div>
        <div class="date-content"></div>
      </div>
    </div>
  <% end %>
</div>