<% content_for :main do %>
  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1 events">
          <div class="row">
            <% @events_by_date.each do |date, events| %>
              <div class="col-sm-4">
                <div class="date">
                  <div class="date-header header">
                    <%= formatted_date(date) %>
                  </div>
                  <div class="date-content">
                    <ul>
                      <% events.each do |event| %>
                        <li>
                          <div class="event">
                            <div class="col-sm-6">
                              <%= event.headliner %>
                            </div>
                            <div class="col-sm-6">
                              <%= event.venue.name %>
                            </div>
                          </div>
                        </li>
                      <% end %>
                    </ul>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
<% end %>

<% content_for :script do %>
  <%= javascript_include_tag 'events-index' %>
<% end %>