<% content_for :main do %>
  <div class="event-list-container">
      <%= render partial: 'date_list', locals: {events_by_date: @events_by_date} %>
  </div>
  <div class="no-events-container">
    <h1>NO EVENTS MATCH YOUR SEARCH</h1>
  </div>
  <div class="event-tools">
    <div class="fixed">
      <div class="search-bar">
        <div class="search-and-submit">
          <input class="search" type="search" placeholder="Search Events"/>
        </div>
      </div>
      <div class="cal-date"></div>
      <button class="top">Back to top</button>
      <!--<button class="top">Show All</button>-->
    </div>
  </div>
<% end %>

<% content_for :script do %>
  <%= javascript_include_tag 'events-index' %>
<% end %>