<% content_for :main do %>
  <div class="event-list-container">
    <ul>
      <% @event_dates.keys.each do |date| %>
        <li>
          <div class="event-date-container">
          <h2><%= date.strftime("%A, %b %d") %></h2>
            <div class="events-per-date-container">
            <ul>
              <% @event_dates[date].each do |event| %>
                <li class="event-row">
                  <%= event.name %> @ <%= event.venue.title %>
                </li>
              <% end %>
            </ul>
          </div>
            </div>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="no-events-container">
    <h1>NO EVENTS MATCH YOUR SEARCH</h1>
  </div>
  <div class="cal-date"></div>
<% end %>