<% content_for :main do %>
  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-4 date-select">
          <h1 id="today" class="active"><span>Today</span></h1>
        </div>
        <div class="col-sm-4 date-select">
          <h1 id="tomorrow">Tomorrow</h1>
        </div>
        <div class="col-sm-4 date-select">
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              Action <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <% @events.each do |event| %>
              <li>
                <%= formatted_date(event.date) %>
              </li>
              <% end %>
            </ul>
          </div>

          <div id="cal-date"></div>
        </div>
      </div>
    </div>
    <div id="events-map-container">
    </div>
  </section>
<% end %>

<% content_for :script do %>
  <%= javascript_include_tag 'events-map' %>
<% end %>
