<% content_for :script do %>
  <%= javascript_include_tag 'venues-map' %>
  <script type="text/javascript"
          src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
  <script src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/src/infobox.js" type="text/javascript"></script>
<% end %>

<% content_for :main do %>
  <div id="venues-map-container">
  </div>
<% end %>