@import 'refills';
@import 'jquery-ui';
@import 'mixins';

*, h1, h2 {
  font-family: 'Maven Pro', sans-serif;
}

body {
  background-color: #2D628E;
  color: rgba(255, 255, 255, 0.7);
  margin: 0;
  padding: 0;
}

input[type=text], input[type=password], input[type=email], input[type=search] {
  background-color: rgba(255, 255, 255, 0.7);
}

::-webkit-input-placeholder {
  color: #2D628E;
}

// USERS

.flash {
  width: 100%;
  height: 2.5em;
  text-align: center;
  background-color: #e6efc2;
  color: #1C3C5B;
  line-height: 2.5em;
  vertical-align: middle;
  float: right;
}

.flash span {
  margin: 0 auto;
}

.user-form {
  width: 15em;
  margin: 0 auto;
  padding: 2em;
  text-align: center;

}

// VENUES AND EVENTS

.main {
  @include outer-container;
  margin-top: 2em;
  margin-bottom: 2em;
  $mobile: new-breakpoint(max-width 500px 4);

  .title {
    @include span-columns(6);
    @include shift(3);
    text-align: center;
    font-size: 3em;
  }
}

#events-map-container, #venues-map-container {
  @include span-columns(12);
  height: 620px;

  img {
    max-width: none;
  }
}

.info-window {
  padding: 10px;
  border-radius: 10px;
  width: 300px;

  .event-map-venue {
    display: inline-block;
  }

  .venue-logo {
    width: 150px;

    img {
      width: 100%
    }
  }
}

.info-window-all {
  background-color: #1C3C5B;
}

// VENUES

.venue-grid {
  //  display: flex;
  //  justify-content: space-between;

  .venue-tile {
    @include span-columns(3);
    @include omega(4n);
    height: 250px;
    border-radius: 40%;
    margin-bottom: 1.5em;
  }

  .venue-tile-background {
    border-radius: 40%;
  }
}

.venue-tile-overlay {

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
  font-size: 40px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, .5);
  border-radius: 40%;
  height: 253px;
}

.venue-info-map-container {
  @include outer-container;

  > div {
    margin-bottom: 3em
  }

  .venue-info-container {
    @include span-columns(6);

    img {
      width: 300px;
    }

  }
  #venue-map-container {
    @include span-columns(6);
    height: 500px;
    border: 1px solid black;

    img {
      max-width: none;
    }
  }
}

.venue-events-container {
  @include span-columns(12);

  ul {
    li {
    
      div {
        @include span-columns(4);
        text-align: center;
      }
    }

    li:nth-child(even) {
      background-color: #1C3C5B;
    }
    .venue-event-header {
      div {
        font-size: 1.5em;
        margin-bottom: .5em;
      }
    }
  }
}

// EVENTS

.event-list-container {
  @include span-columns(7);
  @include omega();

  h2:hover {
    cursor: pointer;
  }
  .date-events {

    .date-event {
      background-color: #336FA1;
      margin: 1em;
      padding: .5em;

      .date-event-info {
        @include span-columns(10);
        height: auto;
      }

      .date-event-buttons {
        //        float: right;
      }
    }
  }
}

.no-events-container {
  @include span-columns(7);
  @include omega();
}

.event-tools {
  @include span-columns(3);
  @include shift(1);
  margin-top: 4.5em;

  .fixed {
    position: fixed;
  }
  .top {
    margin-top: 10px;
    width: 100%;
  }
}

.event-map-filter {
  @include span-columns(2);
  @include shift(5);
}





