/*
 *= require font-awesome
 */

@import 'jquery-ui';
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bebas';
@import 'firasans';
@import 'variables';
@import 'nav';
@import 'users';
@import 'maps';
@import 'events-index';
@import 'venue';
@import 'venues-index';

* {
  font-family: 'fira_sansregular', Helvetica, sans-serif;
}

.header {
  font-family: 'bebasregular', Helvetica, sans-serif;
}

.body-link, i {
  color: $dark-blue;

  &:hover {
    color: $light-blue;
    text-decoration: none;

  }
}