.clear {
  clear: both;
}

.events {
  margin-top: 5%;

  .events-title {
    text-align: center;
    font-size: 4em;
    color: $dark-blue;
    margin-bottom: 10px;
  }

  .instructions {
    margin-bottom: 20px;

    .expand {
      position: relative;
      top: 10px;
      height: 50px;

      @media (max-width: $phone) {
        display: none;
      }

      a {
        margin-right: 10px;
      }

      span {
        margin-left: 20px;
        font-size: 1.5em;
        position: relative;
        bottom: 3px;
        display: none;
      }
    }

    .search {
      padding: 10px;
      width: 100%;
      height: 50px;
      border: 2px solid $dark-blue;
    }

    .toggle-all, .grid-instructions {
      text-align: right;
      height: 50px;
      position: relative;
      top: 10px;
      display: none;

      div {
        display: inline-block;
        margin-right: 10px;
      }

      #close-all {
        display: none;
      }
    }

    .grid-instructions {
      font-size: 1.5em;
    }
  }

  .events-list {
    padding: 0;
    display: none;

    .months {
      text-align: center;
      font-size: 1.2em;
    }

    .date {
      color: $white;
      border: 2px solid $dark-blue;

      .date-header {
        background: $dark-blue;
        text-align: center;
        padding: 20px;
        cursor: pointer;
        font-size: 1.5em;
        width: 100%;

        &:hover {
          color: $light-blue;
        }
      }

      .stuck {
        position: fixed;
        z-index: 10001;
        width: 80.8%;
        top: 50px;
        margin-bottom: 5px;
      }

      .date-content {
        color: $dark-blue;
        padding: 10px 20px 20px 20px;
        display: none;
        overflow: auto;

        .event {
          padding: 10px 0 50px 0;
          border-top: 1px solid $light-blue;
          height: auto;

          &:nth-child(1) {
            border-top: none;
          }

          .headliner {
            font-size: 1.2em;
          }

          .opener {
            font-size: .75em;
          }

          .info {
            text-align: right;

            @media(max-width: $phone) {
              text-align: left;
              position: static;
            }

            .body-link {
              font-weight: bold;
            }

            .price {
              font-size: .75em;
              color: #2D628E;
            }
          }

          .links {
            font-size: 2em;
            text-align: right;

            @media(max-width: $phone) {
              text-align: left;
            }

            .yt-trigger:hover {
              color: $yt;
            }

            .sc-trigger {
              display: none;

              &:hover {
                color: $sc;
              }
            }

            .map-trigger:hover {
              color: $map;
            }
          }
        }
      }
    }
  }
}

.no-events {
  text-align: center;
  display: none;
}

#map-container {
  height: 90%;
  width: 100%;
  display: none;

  @media(max-width: $phone) {
  }
}

.modal-close {
  position: relative;
  top: 35px;
  left: 97%;
  z-index: 1001;

  @media(max-width: $phone) {
    left: 90%;
  }
}

.player {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 300px;
  background: white;
  display: none;

  .buttons {
    float: left;
    position: relative;
    top: 2px;
    left: 5px;
  }

  #yt-video, #sc-widget {
    float: right;
  }

  #yt-video {
    height: 28px;
  }

  #sc-widget {
    position: relative;
    top: 7px;
  }
}
