
.event-list-container {
  @include span-columns(7);
}

.date-events {

  .date-event {
    @include span-columns(7 of 7);
    background-color: #DADADA;
    margin: 1em;
    padding: .5em 0 .5em 1.5em;

    .event-divider {
      @include span-columns(2 of 7);
      background-color: #333;
      height: 1em;
      margin: .5em 0 1em -1.5em;
      display: block;
    }

    .date-event-name {
      @include span-columns(7 of 7);

    }
    .date-event-venue {
      font-weight: bold;
    }

    .date-event-price {
      float: right;
    }
  }

  .date-event-buttons {
    @include span-columns(1 of 7);
  }
}

.no-events-container {
  @include span-columns(7);
  @include omega();
}

.event-tools {
  @include span-columns(4);
  @include shift(1);
  margin-top: 4.5em;

  .fixed {
    position: fixed;
  }

  .top {
    margin-top: 10px;
    width: 100%;
  }
}

.event-date-selector {
  margin-bottom: 1em;
  h1 {
    display: inline-block;
    margin-right: 1em;
  }
}