$mobile: new-breakpoint(max-width 500px 4);
$squished: new-breakpoint(max-width 1000px 4);
$squish-venue: new-breakpoint(max-width 750px 4);

header {
  background: #333 url("http://i.imgur.com/jO3dUIv.png");
  height: 7em;
  padding: 1.5em 1.5em 1.5em 0;
  vertical-align: middle;
  box-shadow: 0 7px 10px #636363;
  color: #999999;

  a {
    color: #999999;
  }

  .title {
    @include span-columns(2);
    @include shift(1);
    display: inline-block;
    float: left;
  }

  nav {
    @include span-columns(5);
    @include media($squished) {
      @include span-columns(12);
    }
    display: inline-block;
    float: left;
    margin-top: .6em;
    font-size: 1em;

    > ul > li {
      float: left;
      margin: 10px 1em 0 .5em;
      padding: 0 10px 5px 10px;
    }

    li.map-dropdown-trigger {

      li {
        display: none;
      }
    }

    li.map-dropdown-trigger:hover {
      background: black;
      cursor: default;
      background: rgba(0, 0, 0, .2);

      ul {
        position: absolute;
        padding: 10px 5px 0px 15px;
        margin: 0 0 0 -10px;
        border: 3px solid black;
        background: #333333;
      }

      li {
        display: block;
        margin: 0 20px 10px 0;
      }
    }
  }
}

*, h1, h2, h3, h4 {
  font-family: 'bebasregular', Helvetica;
  font-weight: normal;
}

body {
  //  color: rgba(255, 255, 255, 0.7);
  margin: 0;
  padding: 0;
}

input[type=text], input[type=password], input[type=email], input[type=search] {
  background-color: rgba(255, 255, 255, 0.7);
}

::-webkit-input-placeholder {
  //  color: #2D628E;
}

.main {
  @include outer-container;
  margin-top: 4em;
  margin-bottom: 2em;

}