#venues-map-container {
  width: 100%;
  height: 100vh;
}

section {
  margin-top: 4%;

  .date-select {
    text-align: center;

    span {
      font-family: bebasregular;
      color: $dark-blue;
      padding: 20px 10px 20px 10px;

      &:hover {
        color: $light-blue;
      }
    }

    #today, #tomorrow {
      cursor: pointer;
    }

    #date-select {
      height: 80px;
      width: 70%;
      margin-top: -2px;
      border: none;
      border-radius: 0;
      -webkit-appearance: none;
      font-size: 2em;
      font-family: bebasregular;
      color: $dark-blue;

      &:hover {
        color: $light-blue;
        background: $white;
      }
    }

    .active {
      background: $dark-blue;
      color: $white !important;
      padding: 20px 10px 20px 10px;

    }
  }

  #events-map-container {
    width: 100%;
    height: 85vh;
  }
}

.info-window {
  background: rgba(22, 56, 91, 0.9);
  color: $white;
  padding: 10px;
  width: 400px;
  position: relative;
  top: 35px;

  .content {
    text-align: center;

    .venue {
      font-size: 1.5em;
      margin-top: 20px;
    }

    a {
      color: inherit;
      margin-top: 1em;
    }

    h2 {
      margin: 0;
      font-family: bebasregular;
    }

    div {
      padding: 5px 15px 5px 15px;
      display: inline;
    }
    .site, .size, .price {
      border-right: 1px solid $white;
    }

    .event-price {
      margin: 30px;
    }
  }

  .triangle {
    position: relative;
    top: 30px;
    left: 30%;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;

    border-top: 20px solid rgba(22, 56, 91, 0.9);
  }
}