#venues-map-container {
  width: 100%;
  height: 100vh;
}

section {
  margin-top: 4%;

  .date-select {
    text-align: center;

    #date-select {
      height: 40px;
      margin-top: 15px;
    }
  }

  #events-map-container {
    width: 100%;
    height: 85vh;
  }
}

.info-window {
  background: rgba(22, 56, 91, 0.9);
  color: $white;
  padding: 10px;
  width: 400px;
  position: relative;
  top: 35px;

  .content {
    text-align: center;

    a {
      color: inherit;
      margin-top: 1em;
    }

    h2 {
      margin: 0;
      font-family: bebasregular;
    }

    div {
      padding: 5px 15px 5px 15px;
      display: inline;
    }
    .site, .size, .price {
      border-right: 1px solid $white;
    }
  }

  .triangle {
    position: relative;
    top: 30px;
    left: 30%;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;

    border-top: 20px solid rgba(22, 56, 91, 0.9);
  }
}