.venues {
  margin-top: 5%;

  .venue {
    height: 200px;
    background-size: cover;
    margin-bottom: 30px;
    cursor: pointer;

    .layer {
      width: 100%;
      height: 100%;
    }

    .header {
      padding: 5px;
      text-align: center;
      font-family: bebasregular;
      font-size: 2em;
      color: $white;
      background: $dark-blue;
    }
  }
}

#venue-modal-container {
  width: 50vw;
  height: 80vh;
  background: $white;
  border: 2px solid $white;

  #content {
    height: 50%;
    background: $dark-blue;
    color: $white;
    text-align: center;
    padding: 20px;

    .title {
      font-size: 3em;
      font-family: bebasregular, Helvetica, sans-serif;
    }

    .info {
      margin-top: 60px;

      div {
        padding: 10px 30px 10px 30px;
        display: inline;
      }

      .size, .price, .site {
        border-right: 2px solid $white;

      }

      a {
        color: inherit;
      }
    }
  }

  #map {
    width: 100%;
    height: 50%;
  }
}

//.venue-title {
//  @include shift(2);
//}
//
//.venue-grid {
//  margin-top: 1em;
//
//  .venue-tile {
//    @include span-columns(4);
//    @include omega(3n);
//    border: 3px solid #333;
//
//    @include media($mobile) {
//      @include span-columns(4);
//    }
//
//    div {
//      background-size: 100%;
//    }
//    .venue-list-name {
//      background-color: #333;
//      color: #999;
//      padding: 0 15% 1% 5%;
//      font-size: 1.5em;
//      position: relative;
//      top: 70%;
//      @include media($squish-venue) {
//        font-size: 75%;
//      }
//    }
//  }
//}
