.venue-title {
  @include shift(2);
}

.venue-grid {
  margin-top: 1em;

  .venue-tile {
    @include span-columns(4);
    @include omega(3n);
    border: 3px solid #333;

    @include media($mobile) {
      @include span-columns(4);
    }

    div {
      background-size: 100%;
    }
    .venue-list-name {
      background-color: #333;
      color: #999;
      padding: 0 15% 1% 5%;
      font-size: 1.5em;
      position: relative;
      top: 70%;
      @include media($squish-venue) {
        font-size: 75%;
      }
    }
  }
}
