.venues {
  margin-top: 10%;

  .venue {
    height: 355px;
    background-size: cover;
    text-align: center;
  }
}

.info-window {
  background: $dark-blue;
  border: 2px solid $white;
  color: $white;
  padding: 10px;
  width: 300px;

  a {
    color: inherit;
    display: block;
    margin-top: 1em;
  }
  .title {
    font-size: 1.5em;
  }

  .info {
    font-family: fira_sansregular;
  }

  .triangle {
    position: relative;
    top: 30px;
    left: 40%;
  }
}

//.venue-title {
//  @include shift(2);
//}
//
//.venue-grid {
//  margin-top: 1em;
//
//  .venue-tile {
//    @include span-columns(4);
//    @include omega(3n);
//    border: 3px solid #333;
//
//    @include media($mobile) {
//      @include span-columns(4);
//    }
//
//    div {
//      background-size: 100%;
//    }
//    .venue-list-name {
//      background-color: #333;
//      color: #999;
//      padding: 0 15% 1% 5%;
//      font-size: 1.5em;
//      position: relative;
//      top: 70%;
//      @include media($squish-venue) {
//        font-size: 75%;
//      }
//    }
//  }
//}
