.venue-grid {
  margin-top: 1em;

  .venue-tile {
    @include span-columns(4);
    @include omega(3n);
//    @include media($mobile) {
//      @include span-columns(12);
//      font-size: 75%;
//    }

    .venue-list-name {
      background-color: #333333;
      color: #999;
      padding: 0 15% 1% 5%;
      font-size: 1.5em;
      position: relative;
      top: 70%;
      @include media($squish-venue) {
        font-size: 75%;
      }
    }
  }
}

.venue-info-map-container {

  > div {
    margin-bottom: 3em
  }

  .venue-info-container {
    @include span-columns(6);

    img {
      width: 200px;
    }

  }
  #venue-map-container {
    @include span-columns(6);
    height: 500px;
    border: 1px solid black;
    @include media($mobile) {
      display: none
    }

    img {
      max-width: none;
    }
  }
}

.venue-events-container {
  @include span-columns(12);

  ul {
    li {

      div {
        @include span-columns(4);
        text-align: center;
      }
    }

    li:nth-child(even) {
      background-color: #1C3C5B;
    }
    .venue-event-header {
      div {
        font-size: 1.5em;
        margin-bottom: .5em;
      }
    }
  }
}